* {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
}

html {
  background-color: #f5f5f5;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url('../asset/Proxima-Nova-Semibold.ttf');
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url('../asset/Proxima-Nova-Regular.ttf');
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url('../asset/Proxima-Nova-Light.ttf');
}

/*
CSS for parent component 
*/

.parent-layout-container {
  display:flex;
  flex-wrap: wrap;
}

.header-bar-spb {
  max-width: 100vw;
  width:100%;
  height: 2em;
  position:absolute;
  margin: 0 auto;
  background-image: linear-gradient(0deg, #2BC4DD 0%, #3489D1 100%);
  background-image: -webkit-linear-gradient(0deg, #2BC4DD 0%, #3489D1 100%);
}

.layout-container { 
  position:relative;
  display:flex;
  flex-wrap: wrap;
  margin: 3em 2em;
}

.layout-container * {
  flex: 0 0 100%;
}

.app-header {
  font: 25px "ProximaNova-Semibold";
  text-rendering: optimizeLegibility;
  color: #17BCD9;  
}

.clear-fix {
  clear: both;
  display: block;
  visibility: hidden;  
}



/* STOCK */
.stock-inner-layout {
  margin: 2% auto 0;
}

.stock-inner-header {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  z-index: 2;  
  box-shadow: 7px 7px 0px -4px #c0c0c0;
  -webkit-box-shadow: 7px 7px 0px -4px #c0c0c0; 
}

.stock-inner-header.portfolio-stand {
  background: #287DCE;
}

.stock-inner-header.pick-stock-stand {
  background: #00B3D6;
}

.stock-inner-header .content {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.stock-inner-header-shade {
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 40px;
  height: 25px;
}

.stock-inner-header-shade.portfolio-stand {
  background: #15569C;
  transform: translate(-468%, 115%) rotate(50deg);
  -webkit-transform: translate(-468%, 115%) rotate(50deg);
}

.stock-inner-header-shade.pick-stock-stand {
  background: #098DAD;
  transform: translate(-322.5%, 115%) rotate(50deg);
  -webkit-transform: translate(-322.5%, 115%) rotate(50deg);
}

.stock-inner-holder {
  background-color: #ffffff;
  margin: -23px 0 0 11px;
  display: block;
  overflow: auto;
}

.stock-details-ctrls {
  display: block; 
  position: relative;
  padding: 10px 0 0 0;    
}

.stock-details-ctrls .stock-list-details {
  margin : 40px 1.5% 20px;
  float: left;
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #00A9D2;
}



.stock-flex-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stock-flex-container * {
  flex: 1 1 auto;
}



.stock-flex-container.stock-available-container {
  min-height: 200px;
}

.stock-available-container .stock-inidividual-container {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  margin: 8px 1.6%;
  width: 20%;
  max-width: 23%;
  max-height: 90px;
}

.stock-available-container .stock-inidividual-container .stock-inidividual-name {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #666666;
  line-height: 16px;
  float:left;
  margin-left: 7%;
  margin-top: 25px;
  margin-right: -10%;
}

.stock-available-container .stock-inidividual-container .stock-inidividual-sector {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  color: #89A6EC;
  line-height: 12px;
  float:left;
  margin-left: 1%;
  margin-top: 5px;
}

.stock-available-container .stock-inidividual-container .stock-inidividual-price {
  font-family: ProximaNova-Light;
  font-size: 24px;
  color: #666666;
  float: right;
  margin-right: 6%;
  margin-top: 21px;
}

.stock-available-container .stock-inidividual-container .stock-inidividual-price span {
  font-family: PingFangSC-Light;
  font-size: 22px;
  color: #666666;
  margin-right:-4px;
}

.stock-details-ctrls .stock-details-prev-btn {
  margin: 7px 1.5% 20px;
  float: left;
}    

.stock-details-ctrls .stock-details-next-btn {
  margin: 7px 1.5% 20px;
  float: right;
}    

.stock-details-ctrls .stock-nav-btn {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #00A9D2;
  text-align: center;
  cursor: pointer;
  user-select: none;
}



.stock-flex-container.portfolio-stand{
  display: flex;
  padding-top: 55px;
}


.portfolio-table-container {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  margin-left: 1.6%;
  
  min-width: 450px;
  width: 25%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.portfolio-table-container .portfolio-table-header {
  background: #8FB9E7;
  text-align: center;  
}

.portfolio-table-container .portfolio-table-header th {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
}

.portfolio-table-container td, .portfolio-table-container th {
  vertical-align: middle;
  padding: 10px 15px;
  text-align: center;
}

.portfolio-table-container tr:nth-child(odd):not(.portfolio-table-header) {
  background-color: #FAFAFA;
}

.portfolio-table-container tr:nth-child(even):not(.portfolio-table-header) {
  background-color: #ffffff;
}

.portfolio-table-container tr th:nth-child(1), 
.portfolio-table-container tr td:nth-child(1) {
  text-align: left;
  width: 13%;
}

.portfolio-table-container tr td:nth-child(1) {
  font-family: ProximaNova-Semibold;
  font-size: 14px;
  color: #287DCE;
  line-height: 16px;
}

.portfolio-table-container tr th:nth-child(2), 
.portfolio-table-container tr td:nth-child(2) {
  width: 25%;
}

.portfolio-table-container tr td:nth-child(2) {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  color: #101010;
  line-height: 16px;
}

.portfolio-table-container tr th:nth-child(3), 
.portfolio-table-container tr td:nth-child(3) {
  width: 30%;
}

.portfolio-table-container tr td .share-ctrls {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 50%;
  margin: 0 auto;
}

.portfolio-table-container tr td .share-ctrls * {
  font-family: ProximaNova-Regular;
  display:inline-block;
}

.portfolio-table-container tr td .share-ctrls span {
  font-size: 14px;
}

.portfolio-table-container tr td .share-ctrls  div {
  text-align: center;
  cursor: pointer;
  width: 33%;
  color: #287DCE;
  font-size: 16px;  
  user-select: none;
}

.portfolio-table-container tr td .share-ctrls .neg-btn {
  border-right: 1px solid #DDDDDD; 
  float: left;
}

.portfolio-table-container tr td .share-ctrls .pos-btn {
  border-left: 1px solid #DDDDDD; 
  float: right;
}

.portfolio-table-container tr th:nth-child(4), 
.portfolio-table-container tr td:nth-child(4) {
  width: 22%;
}

.portfolio-table-container tr td:nth-child(4) {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  color: #222222;
  line-height: 16px;
}


.portfolio-table-container tr th:nth-child(5), 
.portfolio-table-container tr td:nth-child(5) {
  width: 8%;
}

.remove-button {
  border-radius: 50%;
  width: 15px;
  height:15px;
  cursor: pointer;
  user-select: none;
  float: right;
  content: url('../asset/cancel.png');;
}

.portfolio-table-container .empty-row {
  height: 39px !important; 
  background-color: rgb(172, 172, 172) !important;
}



.portfolio-table-container .portfolio-list {
  display:block;
  overflow-y:auto;
  max-height:240px;
}

.portfolio-table-container tr {
  display:table;
  width:100%;
  table-layout:fixed;
}




/* Scroll-bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #287DCE;
}





.graph-container {
  margin-left: 1.6%;
  min-width: 500px;
  margin-bottom: 50px;
}

.graph-container .graph-header {
  font-family: ProximaNova-Semibold;
  font-size: 24px;
  color: #1D70CA;
}

.graph-container .tick text, .axis-text {
  font-family: ProximaNova-Semibold;
  font-size: 12px;
  fill: #1D70CA;
}

.graph-container .domain {
  stroke: #1D70CA;
  stroke-width: 2px; 
}

.graph-container .tick line{
  opacity: 0.2;
}


.summary-container {
  margin: 75px auto;
  margin-bottom:  50px;
  min-width: 240px;
  max-width:10%;
  padding-right: 2%;
}

.group-row-summary{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 0;
  width: 90%;
  padding: 0 5%;
}

.individual-summary{  
  flex: 1 1 auto;
  min-width:50%;
  margin-bottom: 15px;
}

.build-btn {
  background-image: linear-gradient(0deg, #2BC4DD 0%, #3489D1 100%);
  background-image:-webkit-linear-gradient(0deg, #2BC4DD 0%, #3489D1 100%);
  box-shadow: 0 1px 4px 0 #c0c0c0; 
  -webkit-box-shadow: 0 1px 4px 0 #c0c0c0; 

  font-family: ProximaNova-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;

  display:inline-block;
  width: 80%;
  padding: 10px 5%;  
}

.individual-summary-title {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #287DCE;
}

.individual-summary-value {
  font-family: ProximaNova-Light;
  font-size: 24px;
  color: #101010;
  line-height: 26px;
}