* {
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
    user-select: none;
}

html {
    background-color: #f5f5f5;
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url('../asset/Proxima-Nova-Semibold.ttf');
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url('../asset/Proxima-Nova-Regular.ttf');
}

@font-face {
    font-family: "ProximaNova-Light";
    src: url('../asset/Proxima-Nova-Light.ttf');
}


/* Scroll-bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #287DCE;
}


/*
CSS for parent component 
*/

.parent-layout-container {
    display: flex;
    flex-wrap: wrap;
}

.header-bar-spb {
    max-width: 100vw;
    width: 100%;
    height: 2em;
    position: absolute;
    margin: 0 auto;
    background-image: linear-gradient(0deg, #2BC4DD 0%, #3489D1 100%);
    background-image: -webkit-linear-gradient(0deg, #2BC4DD 0%, #3489D1 100%);
}

.layout-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 3em 2em;
}

.layout-container * {
    flex: 0 0 100%;
}

.app-header {
    font: 25px "ProximaNova-Semibold";
    text-rendering: optimizeLegibility;
    color: #17BCD9;
}

.clear-fix {
    clear: both;
    display: block;
    visibility: hidden;
}


/**
 * PANEL CONTAINER
 */

.stock-inner-holder {
    background-color: #ffffff;
    margin: -23px 0 0 11px;
    display: block;
    overflow: auto;
}

.stock-flex-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stock-flex-container * {
    flex: 1 1 auto;
}

.stock-inner-layout {
    margin: 25px auto 0;
}


/**
 * HEADER CONTAINER
 */

.stock-inner-header {
    display: inline-block;
    position: relative;
    padding: 8px 16px;
    z-index: 2;
    box-shadow: 7px 7px 0px -4px #c0c0c0;
    -webkit-box-shadow: 7px 7px 0px -4px #c0c0c0;
}

.stock-inner-header.pick-stock-stand {
    background: #00B3D6;
}

.stock-inner-header .content {
    font-family: ProximaNova-Semibold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.stock-inner-header-shade {
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 25px;
}

.stock-inner-header-shade.pick-stock-stand {
    background: #098DAD;
    transform: translate(-322.5%, 115%) rotate(50deg);
    -webkit-transform: translate(-322.5%, 115%) rotate(50deg);
}
